<div class="background">
    <h1 style="color: white;">Bienvenido a ProyectoF!</h1>
    <div class="center">
        <mat-card class="card" [routerLink]="'/login'">
            <h2>Accede como usuario</h2>
            <img src="assets/img/usuario.svg" alt="Imagen usuario">
        </mat-card>
        <mat-card class="card" [routerLink]="'/negocios/login'">
            <h2>Accede como negocio</h2>
            <img src="assets/img/maletin.svg" alt="Imagen usuario">
        </mat-card>
    </div>
</div>