<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Documentación API ProyectoF</title>
    <link href="stylesheets/styles.css" rel="stylesheet">
    <link href="stylesheets/screen-63c80d03.css" rel="stylesheet" media="screen" />
    <link href="stylesheets/print-bccf8c07.css" rel="stylesheet" media="print" />
    <script src="javascripts/all-c5541673.js"></script>
  </head>
  <body class="index" data-languages="[]">
    <a href="#" id="nav-button">
      <span>
        NAV
        <img src="images/navbar-cad8cdcb.png" alt="Navbar" />
      </span>
    </a>
    <div class="toc-wrapper">
      <img src="images/logo-b62ba352.png" class="logo" alt="Logo" />
      <div class="search">
        <input type="text" class="search" id="input-search" placeholder="Search">
      </div>
      <ul class="search-results"></ul>
      <ul id="toc" class="toc-list-h1">
        <li>
          <a href="#introduccion" class="toc-h1 toc-link" data-title="Introducción">Introducción</a>
        </li>
        <li>
          <a href="#usuarios" class="toc-h1 toc-link" data-title="Usuarios">Usuarios</a>
          <ul class="toc-list-h2">
            <li>
              <a href="#login" class="toc-h2 toc-link" data-title="Login">Login</a>
            </li>
            <li>
              <a href="#crear-cuenta" class="toc-h2 toc-link" data-title="Crear cuenta">Crear cuenta</a>
            </li>
            <li>
              <a href="#actualizar-datos-usuario" class="toc-h2 toc-link" data-title="Actualizar datos usuario">Actualizar
                datos usuario</a>
            </li>
            <li>
              <a href="#anadir-eliminar-evento-de-los-eventos-favoritos-del-usuario" class="toc-h2 toc-link"
                data-title="Añadir/Eliminar evento de los eventos favoritos del usuario">Añadir/Eliminar evento de los
                eventos favoritos del usuario</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#eventos" class="toc-h1 toc-link" data-title="Eventos">Eventos</a>
          <ul class="toc-list-h2">
            <li>
              <a href="#obtener-todos-los-eventos" class="toc-h2 toc-link" data-title="Obtener todos los eventos">Obtener
                todos los eventos</a>
            </li>
            <li>
              <a href="#obtener-los-eventos-favoritos-del-usuario" class="toc-h2 toc-link"
                data-title="Obtener los eventos favoritos del usuario">Obtener los eventos favoritos del usuario</a>
            </li>
            <li>
              <a href="#comprar-entrada-s-de-un-evento" class="toc-h2 toc-link"
                data-title="Comprar entrada/s de un evento">Comprar entrada/s de un evento</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#errores" class="toc-h1 toc-link" data-title="Errores">Errores</a>
        </li>
      </ul>
      <ul class="toc-footer">
        <li><a href='https://github.com/slatedocs/slate'>Documentation Powered by Slate</a></li>
      </ul>
    </div>
    <div class="page-wrapper">
      <div class="dark-box"></div>
      <div class="content">
        <h1 id='introduccion'>Introducción</h1>
        <p>Bienvenido a la API de ProyectoF, en esta página puedes consultar los endpoints disponibles de nuestra API.</p>

        <p>La página de la documentación de la API ha sido creada gracias a <a
            href="https://github.com/slatedocs/slate">Slate</a>.</p>
        <h1 id='usuarios'>Usuarios</h1>
        <h2 id='login'>Login</h2>
        <blockquote>
          <p>Si iniciamos sesión correctamente, recibiremos un JSON como este:</p>
        </blockquote>
        <pre class="highlight json tab-json"><code><span class="p">{</span><span class="w">
      </span><span class="s2">"status"</span><span class="p">:</span><span class="w"> </span><span class="s2">"OK"</span><span class="p">,</span><span class="w">
      </span><span class="s2">"msg"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Bienvenido Prueba!"</span><span class="p">,</span><span class="w">
      </span><span class="s2">"data"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
          </span><span class="s2">"profileImg_URL"</span><span class="p">:</span><span class="w"> </span><span class="s2">"default"</span><span class="p">,</span><span class="w">
          </span><span class="s2">"friends"</span><span class="p">:</span><span class="w"> </span><span class="p">[],</span><span class="w">
          </span><span class="s2">"_id"</span><span class="p">:</span><span class="w"> </span><span class="s2">"5ea854273a2ca91080437c4e"</span><span class="p">,</span><span class="w">
          </span><span class="s2">"tickets"</span><span class="p">:</span><span class="w"> </span><span class="p">[</span><span class="w">
              </span><span class="p">{</span><span class="w">
                  </span><span class="s2">"event_id"</span><span class="p">:</span><span class="w"> </span><span class="s2">"5eb02547a597b14c20e4b3f8"</span><span class="p">,</span><span class="w">
                  </span><span class="s2">"qty"</span><span class="p">:</span><span class="w"> </span><span class="mi">1</span><span class="p">,</span><span class="w">
                  </span><span class="s2">"bought_at"</span><span class="p">:</span><span class="w"> </span><span class="s2">"2020-05-01T11:00:00.190Z"</span><span class="w">
              </span><span class="p">}</span><span class="w">
          </span><span class="p">],</span><span class="w">
          </span><span class="s2">"name"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Prueba"</span><span class="p">,</span><span class="w">
          </span><span class="s2">"last_name"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Prueba Prueba"</span><span class="p">,</span><span class="w">
          </span><span class="s2">"email"</span><span class="p">:</span><span class="w"> </span><span class="s2">"prueba@prueba.com"</span><span class="p">,</span><span class="w">
          </span><span class="s2">"city"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Ciudad Prueba"</span><span class="p">,</span><span class="w">
          </span><span class="s2">"zipcode"</span><span class="p">:</span><span class="w"> </span><span class="s2">"01234"</span><span class="p">,</span><span class="w">
          </span><span class="s2">"phone"</span><span class="p">:</span><span class="w"> </span><span class="s2">"612345678"</span><span class="p">,</span><span class="w">
          </span><span class="s2">"fav_events"</span><span class="p">:</span><span class="w"> </span><span class="p">[],</span><span class="w">
          </span><span class="s2">"createdAt"</span><span class="p">:</span><span class="w"> </span><span class="s2">"01/05/2020 12:00:00"</span><span class="w">
      </span><span class="p">},</span><span class="w">
      </span><span class="s2">"session"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
          </span><span class="s2">"token"</span><span class="p">:</span><span class="w"> </span><span class="s2">"abcdefghijk"</span><span class="p">,</span><span class="w">
          </span><span class="s2">"expiresIn"</span><span class="p">:</span><span class="w"> </span><span class="mi">2592000</span><span class="w">
      </span><span class="p">}</span><span class="w">
  </span><span class="p">}</span><span class="w">
  </span></code></pre>
        <p>Este endpoint se utiliza para iniciar sesión.</p>
        <h3 id='http-request'>HTTP Request</h3>
        <p><code>POST https://proyectof.tk/api/user/login</code></p>
        <h3 id='body-parameters'>Body Parameters</h3>
        <table>
          <thead>
            <tr>
              <th>Parámetro</th>
              <th>Descripción</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>email</td>
              <td>El correo electrónico del usuario con el que queremos hacer login</td>
            </tr>
            <tr>
              <td>password</td>
              <td>La contraseña del usuario con el que queremos hacer login</td>
            </tr>
          </tbody>
        </table>
        <h2 id='crear-cuenta'>Crear cuenta</h2>
        <blockquote>
          <p>Si la cuenta se crea correctamente, recibiremos un JSON como este </p>
        </blockquote>
        <pre class="highlight json tab-json"><code><span class="p">{</span><span class="w">
    </span><span class="s2">"status"</span><span class="p">:</span><span class="w"> </span><span class="s2">"OK"</span><span class="p">,</span><span class="w">
    </span><span class="s2">"msg"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Cuenta creada correctamente"</span><span class="w">
  </span><span class="p">}</span><span class="w">
  </span></code></pre>
        <p>Este endpoint se utiliza para crear una cuenta.</p>
        <h3 id='http-request-2'>HTTP Request</h3>
        <p><code>POST https://proyectof.tk/api/user/create</code></p>

        <aside class="notice">El correo electrónico y el número de móvil son únicos, si ponemos uno existente el registro
          fallará</aside>
        <h3 id='body-parameters-2'>Body Parameters</h3>
        <table>
          <thead>
            <tr>
              <th>Parámetro</th>
              <th>Descripción</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>name</td>
              <td>El nombre del usuario</td>
            </tr>
            <tr>
              <td>last_name</td>
              <td>Los apellidos del usuario</td>
            </tr>
            <tr>
              <td>email</td>
              <td>El correo electrónico del usuario</td>
            </tr>
            <tr>
              <td>password</td>
              <td>La contraseña del usuario</td>
            </tr>
            <tr>
              <td>city</td>
              <td>La ciudad del usuario</td>
            </tr>
            <tr>
              <td>zipcode</td>
              <td>El código postal de la ciudad del usuario</td>
            </tr>
            <tr>
              <td>phone</td>
              <td>El número de móvil del usuario</td>
            </tr>
          </tbody>
        </table>
        <h2 id='actualizar-datos-usuario'>Actualizar datos usuario</h2>
        <p>Este endpoint sirve para actualizar algunos datos del usuario.</p>
        <h3 id='http-request-3'>HTTP Request</h3>
        <p><code>POST https://proyectof.tk/api/user/update</code></p>

        <aside class="notice">Para actualizar los datos del usuario no es necesario pasar todos los parámetros, únicamente
          los que queramos actualizar.</br>
          <ul>
            <li>Se validará que el número de móvil no es utilizado por otro usuario, si no, no se actualizará.</li>
            <li>Para actualizar la contraseña es necesario pasar los parámetros oldPassword y newPassword, si la
              contraseña antigua no coincide con la de la base de datos, no se actualizará.</li>
          </ul>
        </aside>
        <h3 id='body-parameters-3'>Body Parameters</h3>
        <table>
          <thead>
            <tr>
              <th>Parámetro</th>
              <th>Descripción</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>uid</td>
              <td>El ID del usuario que queremos actualizar los datos</td>
            </tr>
            <tr>
              <td>name</td>
              <td>El nombre actualizado</td>
            </tr>
            <tr>
              <td>last_name</td>
              <td>Los apellidos actualizados</td>
            </tr>
            <tr>
              <td>city</td>
              <td>La nueva ciudad</td>
            </tr>
            <tr>
              <td>zipcode</td>
              <td>El código postal de la nueva ciudad</td>
            </tr>
            <tr>
              <td>phone</td>
              <td>El nuevo número de móvil</td>
            </tr>
            <tr>
              <td>oldPassword</td>
              <td>La contraseña antigua del usuario</td>
            </tr>
            <tr>
              <td>newPassword</td>
              <td>La nueva contraseña</td>
            </tr>
          </tbody>
        </table>
        <h2 id='anadir-eliminar-evento-de-los-eventos-favoritos-del-usuario'>Añadir/Eliminar evento de los eventos
          favoritos del usuario</h2>
        <p>Este endpoint sirve para añadir o eliminar un evento de favoritos</p>
        <h3 id='http-request-4'>HTTP Request</h3>
        <p><code>POST https://proyectof.tk/api/user/fav-event</code></p>
        <h3 id='body-parameters-4'>Body Parameters</h3>
        <table>
          <thead>
            <tr>
              <th>Parámetro</th>
              <th>Descripción</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>uid</td>
              <td>El ID del usuario del que modificar sus eventos favoritos</td>
            </tr>
            <tr>
              <td>event_id</td>
              <td>El ID del evento que queremos añadir o eliminar de favoritos</td>
            </tr>
            <tr>
              <td>fav</td>
              <td>true o false, true si queremos añadirlo y false si queremos eliminarlo</td>
            </tr>
          </tbody>
        </table>
        <h1 id='eventos'>Eventos</h1>
        <h2 id='obtener-todos-los-eventos'>Obtener todos los eventos</h2>
        <blockquote>
          <p>Este seria un ejemplo de los eventos:</p>
        </blockquote>
        <pre class="highlight json tab-json"><code><span class="p">{</span><span class="w">
      </span><span class="s2">"status"</span><span class="p">:</span><span class="w"> </span><span class="s2">"OK"</span><span class="p">,</span><span class="w">
      </span><span class="s2">"data"</span><span class="p">:</span><span class="w"> </span><span class="p">[</span><span class="w">
          </span><span class="p">{</span><span class="w">
              </span><span class="s2">"description"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Expedita ullam suscipit explicabo aut."</span><span class="p">,</span><span class="w">
              </span><span class="s2">"img_url"</span><span class="p">:</span><span class="w"> </span><span class="s2">"default"</span><span class="p">,</span><span class="w">
              </span><span class="s2">"status"</span><span class="p">:</span><span class="w"> </span><span class="mi">1</span><span class="p">,</span><span class="w">
              </span><span class="s2">"_id"</span><span class="p">:</span><span class="w"> </span><span class="s2">"5eb031401a5151077801cc9b"</span><span class="p">,</span><span class="w">
              </span><span class="s2">"name"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Gran evento en Elda"</span><span class="p">,</span><span class="w">
              </span><span class="s2">"price"</span><span class="p">:</span><span class="w"> </span><span class="mf">17.82</span><span class="p">,</span><span class="w">
              </span><span class="s2">"starts"</span><span class="p">:</span><span class="w"> </span><span class="s2">"28/05/2020 22:30:00"</span><span class="p">,</span><span class="w">
              </span><span class="s2">"ends"</span><span class="p">:</span><span class="w"> </span><span class="s2">"29/05/2020 00:30:00"</span><span class="p">,</span><span class="w">
              </span><span class="s2">"location"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Plaza Mares 6, Elda"</span><span class="p">,</span><span class="w">
              </span><span class="s2">"ticketsForSale"</span><span class="p">:</span><span class="w"> </span><span class="mi">987</span><span class="p">,</span><span class="w">
              </span><span class="s2">"tickets_available"</span><span class="p">:</span><span class="w"> </span><span class="mi">987</span><span class="p">,</span><span class="w">
              </span><span class="s2">"business_id"</span><span class="p">:</span><span class="w"> </span><span class="s2">"5eb046fbfcb9dd40643d468f"</span><span class="p">,</span><span class="w">
              </span><span class="s2">"date"</span><span class="p">:</span><span class="w"> </span><span class="s2">"28/05/2020"</span><span class="p">,</span><span class="w">
              </span><span class="s2">"schedule"</span><span class="p">:</span><span class="w"> </span><span class="s2">"22:30 - 00:30"</span><span class="w">
          </span><span class="p">},</span><span class="w">
          </span><span class="p">{</span><span class="w">
              </span><span class="s2">"description"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Qui exercitationem corrupti."</span><span class="p">,</span><span class="w">
              </span><span class="s2">"img_url"</span><span class="p">:</span><span class="w"> </span><span class="s2">"default"</span><span class="p">,</span><span class="w">
              </span><span class="s2">"status"</span><span class="p">:</span><span class="w"> </span><span class="mi">1</span><span class="p">,</span><span class="w">
              </span><span class="s2">"_id"</span><span class="p">:</span><span class="w"> </span><span class="s2">"5eb031401a5151077801cc9d"</span><span class="p">,</span><span class="w">
              </span><span class="s2">"name"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Fiesta en Alcalá de Henares"</span><span class="p">,</span><span class="w">
              </span><span class="s2">"price"</span><span class="p">:</span><span class="w"> </span><span class="mf">26.09</span><span class="p">,</span><span class="w">
              </span><span class="s2">"starts"</span><span class="p">:</span><span class="w"> </span><span class="s2">"21/05/2020 21:45:00"</span><span class="p">,</span><span class="w">
              </span><span class="s2">"ends"</span><span class="p">:</span><span class="w"> </span><span class="s2">"22/05/2020 00:45:00"</span><span class="p">,</span><span class="w">
              </span><span class="s2">"location"</span><span class="p">:</span><span class="w"> </span><span class="s2">"Polígono Fonseca 9, Alcalá de Henares"</span><span class="p">,</span><span class="w">
              </span><span class="s2">"ticketsForSale"</span><span class="p">:</span><span class="w"> </span><span class="mi">282</span><span class="p">,</span><span class="w">
              </span><span class="s2">"tickets_available"</span><span class="p">:</span><span class="w"> </span><span class="mi">280</span><span class="p">,</span><span class="w">
              </span><span class="s2">"business_id"</span><span class="p">:</span><span class="w"> </span><span class="s2">"5eb046fbfcb9dd40643d468e"</span><span class="p">,</span><span class="w">
              </span><span class="s2">"date"</span><span class="p">:</span><span class="w"> </span><span class="s2">"21/05/2020"</span><span class="p">,</span><span class="w">
              </span><span class="s2">"schedule"</span><span class="p">:</span><span class="w"> </span><span class="s2">"21:45 - 00:45"</span><span class="w">
          </span><span class="p">}</span><span class="w">
      </span><span class="p">]</span><span class="w">
  </span><span class="p">}</span><span class="w">
  </span></code></pre>
        <p>Este endpoint sirve para obtener todos los eventos.</p>
        <h3 id='http-request-5'>HTTP Request</h3>
        <p><code>GET https://proyectof.tk/api/events</code></p>
        <h2 id='obtener-los-eventos-favoritos-del-usuario'>Obtener los eventos favoritos del usuario</h2>
        <p>Este endpoint sirve para obtener la información de los eventos favoritos de un usuario.</p>
        <h3 id='http-request-6'>HTTP Request</h3>
        <p><code>GET https://proyectof.tk/events/fav</code></p>
        <h3 id='body-parameters-5'>Body Parameters</h3>
        <table>
          <thead>
            <tr>
              <th>Parámetro</th>
              <th>Descripción</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>uid</td>
              <td>El ID del usuario para obtener los datos de los eventos favoritos</td>
            </tr>
          </tbody>
        </table>
        <h2 id='comprar-entrada-s-de-un-evento'>Comprar entrada/s de un evento</h2>
        <blockquote>
          <p>Cuando se compra un entrada, recibiremos este JSON:</p>
        </blockquote>
        <pre class="highlight json tab-json"><code><span class="p">{</span><span class="w">
    </span><span class="s2">"status"</span><span class="p">:</span><span class="w"> </span><span class="s2">"OK"</span><span class="p">,</span><span class="w">
    </span><span class="s2">"msg"</span><span class="p">:</span><span class="w"> </span><span class="s2">"2 entradas compradas correctamente"</span><span class="p">,</span><span class="w">
    </span><span class="s2">"ticket"</span><span class="p">:</span><span class="w"> </span><span class="p">{</span><span class="w">
      </span><span class="s2">"event_id"</span><span class="p">:</span><span class="w"> </span><span class="s2">"5eb07452r90614c20e4c1r5"</span><span class="p">,</span><span class="w">
      </span><span class="s2">"qty"</span><span class="p">:</span><span class="w"> </span><span class="mi">2</span><span class="p">,</span><span class="w">
      </span><span class="s2">"bought_at"</span><span class="p">:</span><span class="w"> </span><span class="s2">"2020-05-08T15:21:28.190+00:00"</span><span class="w">
    </span><span class="p">}</span><span class="w">
  </span><span class="p">}</span><span class="w">

  </span></code></pre>
        <p>Este endpoint se utiliza para comprar entradas</p>
        <h3 id='http-request-7'>HTTP Request</h3>
        <p><code>POST https://proyectof.tk/api/tickets/buy</code></p>
        <h3 id='body-parameters-6'>Body Parameters</h3>
        <table>
          <thead>
            <tr>
              <th>Parámetro</th>
              <th>Descripción</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>event_id</td>
              <td>El ID del evento del que queremos comprar entradas</td>
            </tr>
            <tr>
              <td>qty</td>
              <td>La cantidad de entradas que queremos comprar</td>
            </tr>
            <tr>
              <td>uid</td>
              <td>El ID del usuario que compra las entradas</td>
            </tr>
          </tbody>
        </table>
        <h3 id='parametros-tarjeta-de-credito'>Parámetros tarjeta de crédito</h3>
        <aside class="notice">Se deben pasar si el usuario que quiere comprar las entradas no tiene una tarjeta asignada,
          si no, no podrá comprar entradas.</aside>

        <table>
          <thead>
            <tr>
              <th>Parámetro</th>
              <th>Descripción</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>number</td>
              <td>El número de la tarjeta de crédito con la que comprar entradas</td>
            </tr>
            <tr>
              <td>expires</td>
              <td>La fecha de expiración de la tarjeta (MM/YY -&gt; ej: 12/23)</td>
            </tr>
            <tr>
              <td>ccv</td>
              <td>El código de verificación de la tarjeta, 3 números</td>
            </tr>
            <tr>
              <td>nameOnCard</td>
              <td>El nombre que aparece en la tarjeta</td>
            </tr>
          </tbody>
        </table>
        <h1 id='errores'>Errores</h1>
        <aside class="success">Si el código de la respuesta es el <b>200</b>, es que la petición se ha realizado
          correctamente.</aside>

        <p>La API de ProyectoF utiliza los siguientes códigos de error:</p>

        <table>
          <thead>
            <tr>
              <th>Código</th>
              <th>Significado</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>403</td>
              <td>Ha habido algún problema al realizar la petición. Por ejemplo: parámetros incorrectos, parámetros
                vacíos, etc.</td>
            </tr>
            <tr>
              <td>500</td>
              <td>Ha habido un error interno en el servidor. Intentalo más tarde.</td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="dark-box">
      </div>
    </div>
  </body>
</html>