<div class="center">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="row">
            <mat-form-field appearance="legacy" color="accent">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
            <mat-form-field appearance="legacy" color="accent">
                <mat-label>Apellidos</mat-label>
                <input matInput formControlName="last_name">
            </mat-form-field>
        </div>
        <div class="row-column">
            <mat-form-field appearance="legacy" color="accent">
                <mat-label>Correo electrónico</mat-label>
                <input type="email" matInput formControlName="email" [email]="true">
                <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="legacy" color="accent">
                <mat-label>Número de móvil</mat-label>
                <input numeric type="text" matInput formControlName="phone" minlength="9" maxlength="9">
                <mat-error *ngIf="phone.invalid">{{getPhoneErrorMessage()}}</mat-error>
                <mat-hint align="end">{{phone.value?.length || 0}}/9</mat-hint>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="legacy" color="accent">
                <mat-label>Ciudad</mat-label>
                <input matInput formControlName="city">
            </mat-form-field>
            <mat-form-field appearance="legacy" color="accent">
                <mat-label>Código postal</mat-label>
                <input numeric type="text" matInput formControlName="zipcode" minlength="5" maxlength="5">
                <mat-error *ngIf="zipcode.invalid">{{getZipcodeErrorMessage()}}</mat-error>
                <mat-hint align="end">{{zipcode.value?.length || 0}}/5</mat-hint>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="legacy" color="accent">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" formControlName="password">
            </mat-form-field>
            <mat-form-field appearance="legacy" color="accent">
                <mat-label>Repita su contraseña</mat-label>
                <input matInput type="password" formControlName="confirmPassword">
                <mat-error *ngIf="registerFormControl.confirmPassword.touched && registerFormControl.confirmPassword.errors?.passwordMismatch">Las contraseñas no coinciden</mat-error>
            </mat-form-field>
        </div>
        <button mat-raised-button color="primary">Crear cuenta</button>
    </form>
</div>