.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: white;
    width: 70%;
    max-width: 720px;
    height: 395px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.center > div { display: flex; padding: 10px; }

.img-container { width: 35%; margin-top: 60px; }

.img-container > img { padding: 0 0 50px 30%; }

.form-container { width: 65%; margin-top: 45px; }

.form-footer { display: flex; justify-content: space-between; margin-top: 5px; }

form {
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
}

form > mat-form-field.mat-form-field:first-child { margin-bottom: 20px; }

.form-container mat-form-field.mat-form-field, .form-container button.mat-button-base { font-size: 16px; }

button.google-login-button { margin-top: 25px; margin-bottom: 10px; }

button.google-login-button img { width: 50px; height: 24px; padding: 5px 0; }

@media(max-width: 768px) {
    .center { height: auto; }
    .container { flex-direction: column; padding-top: 20px!important; }
    .img-container { margin: 0 auto; width: auto; }
    .img-container > img { padding: 0; }
    .form-container { width: auto; margin: 0; }
}

@media(max-width: 640px) {
    .center { width: 90%; }
}