<div class="event-card">
    <div class="header">
        <h1>{{event.name}}</h1>
        <mat-icon matTooltip="Ver detalles" (click)="openDialog()">event_note</mat-icon>
    </div>
    <div class="card-container">
        <img src="assets/img/default-img_event.jpg" alt="Imagen evento">
        <div class="description">
            <p><span class="title">Entradas:</span> {{event.ticketsForSale}}</p>
            <p><span class="title">Entradas disponibles:</span> {{event.tickets_available}}</p>
            <p><span class="title">Entradas vendidas:</span> {{event.ticketsSold()}}</p>
            <p><span class="title">Ingresos:</span> {{event.revenue()}}€</p>
            <p *ngIf="event.ended(); else available"><span class="title">Estado:</span><span style="color:red; font-weight: normal;"> Finalizado</span></p>
            <ng-template #available><span class="title">Estado:</span><span style="color:green"> No finalizado</span></ng-template>
        </div>
    </div>
</div>