
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Paleta de colores personalizada

// Rojo
$pf-red: (
    50 : #f9e9e9,
    100 : #f1c7c7,
    200 : #e7a2a2,
    300 : #dd7c7c,
    400 : #d66060,
    500 : #cf4444,
    600 : #ca3e3e,
    700 : #c33535,
    800 : #bd2d2d,
    900 : #b21f1f,
    A100 : #ffebeb,
    A200 : #ffb8b8,
    A400 : #ff8585,
    A700 : #ff6b6b,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// Gris
$pf-grey: (
    50 : #f4f4f4,
    100 : #e3e3e3,
    200 : #d1d1d1,
    300 : #bfbfbf,
    400 : #b1b1b1,
    500 : #a3a3a3,
    600 : #9b9b9b,
    700 : #919191,
    800 : #888888,
    900 : #777777,
    A100 : #fffdfd,
    A200 : #fad0d0,
    A400 : #ff9797,
    A700 : #ff7e7e,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ProyectoF-primary: mat-palette($pf-red);
$ProyectoF-accent: mat-palette($pf-grey);

// The warn palette is optional (defaults to red).
$ProyectoF-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$ProyectoF-theme: mat-light-theme($ProyectoF-primary, $ProyectoF-accent, $ProyectoF-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ProyectoF-theme);

// Import del los estilos del DatetimePicker
@import '~@mat-datetimepicker/core/datetimepicker/datetimepicker-theme.scss';

// Añadimos los estilos del DatetimePicker al tema principal
@include mat-datetimepicker-theme($ProyectoF-theme);

// Tema oscuro
.dark-theme {
    background: #36393f;
    color: $light-primary-text;
    $dark-primary: mat-palette($pf-red);
    $dark-accent: mat-palette($pf-grey);
    $dark-warn: mat-palette($mat-red);

    $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

    @include angular-material-theme($dark-theme);

    // Añadimos los estilos del DatetimePicker al tema oscuro
    @include mat-datetimepicker-theme($dark-theme);
}