/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background: linear-gradient(180deg, #6A5A5A 0%, rgba(255, 255, 255, 0) 100%), #CF4444; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
app-root {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

a {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #1a73e8;
    display: inline-block;
    font-weight: 500;
    letter-spacing: .25px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: inherit;
    outline: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
}
a:focus { background-color: rgba(26,115,232,0.149); }

.mat-simple-snackbar-action { color: #1a73e8; }